[dev_server1]
mettacycle-server-1 ansible_host=REPLACE_IP

[dev_server2]
mettacycle-server-2 ansible_host=REPLACE_IP

[dev_server4]
mettacycle-server-4 ansible_host=REPLACE_IP

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/asi_chain
