# RChain node configuration
PRIVATE_KEY=<ENTER_YOUR_PRIVATE_KEY>
FAUCET_AMOUNT=10000

# first node
NODE_HOST=<ENTER_NODE_HOST>
NODE_GRPC_PORT=40402
NODE_HTTP_PORT=40403


# observer
OBSERVER_HOST=<ENTER_OBSERVER_HOST>
OBSERVER_GRPC_PORT=40452
OBSERVER_HTTP_PORT=40453


# Server configuration
HOST=0.0.0.0
PORT=40470


# Logging
RUST_LOG=rchain_faucet=info,tower_http=debug