VALIDATOR_PORTS=<PORT>,<PORT>,<PORT>
VALIDATOR_HOSTS=<HOST>,<HOST>,<HOST>
VALIDATOR_NODES=<VALIDATOR1NAME>,<VALIDATOR2NAME>,<VALIDATOR2NAME>
PRIVATE_KEY=<PRIVATE_KEY>
DELAY_AFTER_DEPLOY=2
DELAY_AFTER_PROPOSE=2